name: Slack Notification

# on: push  
on:
  pull_request:
    branches:
      - master
    types: [closed]

jobs:

  build:
    if: ${{ ( github.event.pull_request.merged == true ) && ( !contains( github.event.pull_request.title, 'skip mabl' )) }} 
    runs-on: ubuntu-latest
    steps:
      - run: echo "test"
 
