name: Slack Notification
#on: [push]
on: pull_request:
  branches: 
    - master
  types: [closed]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:


    - name: Send GitHub Action trigger data to Slack workflow 
      id: slack
      uses: slackapi/slack-github-action@v1.19.0
      with:
        payload: |
            {
              "text": "${{ github.event_name }} by <https://github.com/${{ github.event.sender.login }}|${{ github.event.sender.login }}>",
              "attachments": [
                {
                  "color": "good",
                  "author_name": "${{ github.actor }}",
                  "fields": [
                    {
                      "title": "GitHub ISSUE",
                      "value": "${{ github.event.issue.title }}"
                    },
                    {
                      "title": "GitHub Actions URL",
                      "value": "${{ github.event.repository.url }}/actions/runs/${{ github.run_id }}"
                    },
                    {
                      "title": "Compare URL",
                      "value": "${{ github.event.compare }}"
                    }
                  ],
                  "footer": "${{ github.event.repository.url }}"
                }
              ]
            }

      env:
        SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK }}
        SLACK_WEBHOOK_TYPE: INCOMING_WEBHOOK
