name: Slack Pull Request Close Notification

on:
  push:
  #pull_request:
  #  branches:
  #    - master
  #  types: [closed]

jobs:
  build:
    runs-on: ubuntu-latest
    #steps:
      #- uses: actions/checkout@v2
      #- name: Send GitHub Action trigger data to Slack workflow
      # - uses: slackapi/slack-github-action@v1.19.0

    steps:
      - uses: slackapi/slack-github-action@v1.19.0
        with:
          payload: |
            {
              "text": "requested"
            }

        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK }}
