name: Slack Notification
on: [push]
#on: pull_request:
#    branches: 
#      - master
#    types: [closed]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:

    - name: Set current datetime as env variable
      env:
        TZ: 'Asia/Tokyo' 
      id: date
      run: echo "::set-output name=date::$(date +'%Y-%m-%d %H:%M')"


    - name: Send GitHub Action trigger data to Slack workflow 
      id: slack
      uses: slackapi/slack-github-action@v1.19.0
      with:
        payload: |
            {
              "text": "${{ github.event_name }} merged by ${{ github.event.sender.login }}",
              "attachments": [
                {
                  "color": "good",
                  "author_name": "${{ github.actor }}",
                  "fields": [
                    {
                      "title": "Commit Message",
                      "value": "${{ env.COMMIT_MESSAGE }}"
                    },
                    {
                      "title": "GitHub Actions URL",
                      "value": "${{ github.event.repository.url }}/actions/runs/${{ github.run_id }}"
                    },
                    {
                      "title": "Compare URL",
                      "value": "${{ github.event.compare }}"
                    }
                  ],
                  "footer": "Send from Python",
                  "footer_icon": "https://avatars1.githubusercontent.com/u/10055293?v=3&u=1d1491fc3c27e10e93cc364ee0556a3b768c29b2&s=100",
                  "ts": "${{ steps.date.outputs.date }}"
                }
              ]
            }

      env:
        SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK }}
        SLACK_WEBHOOK_TYPE: INCOMING_WEBHOOK
