name: Slack Notification

on:
  push:
    branches:
      - master 

jobs:

  build:
    runs-on: ubuntu-latest
    steps:

    - name: Get commit message
      uses: actions/github-script@v5
      id: commit_msg
      with:
        result-encoding: string
        script: |
          const msg = ${{ toJson(github.event.head_commit.message) }} 
          const msg_str = msg.replace(/\r?\n/g, '\n')
          const commit_msg = msg_str.split('\n')
          return commit_msg[0]

    - name: Get repogitory url 
      uses: actions/github-script@v5
      id: repogitory_url 
      with:
        result-encoding: string
        script: |
          const url = "${{ github.event.repository.html_url }}"
          return url.replace('https://', '')

    - name: Get current datetime
      env: 
        TZ: "Asia/Tokyo" 
      id: date
      run: echo "::set-output name=date::$(date +'%s')"

    - name: Send GitHub Action 
      id: slack
      uses: slackapi/slack-github-action@v1.19.0
      with:
        payload: |
            {
              "text": "Pull request merged by <https://github.com/${{ github.event.sender.login }}|${{ github.event.sender.login }}>",
              "attachments": [
                {
                  "color": "good",
                  "fields": [
                    {
                      "value": "<${{ github.event.head_commit.url }}|${{ github.event.head_commit.messag }}>"
                    }
                  ],
                  "footer": "<${{ github.event.repository.html_url }}|${{ steps.repogitory_url.outputs.result }}>",
                  "ts": "${{ steps.date.outputs.date }}"
                }
              ]
            }
      env:
        SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK }}
        SLACK_WEBHOOK_TYPE: INCOMING_WEBHOOK
